<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:nuphoneapp.page.link</string>
		<string>applinks:nuphone.burst.to</string>
		<string>appclips:nuphone.burst.to</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.ai.voicemail.berkeley.VTFDD42V43</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)ai.nuphone</string>
	</array>
</dict>
</plist>
